/****** Main style ******/

body, html {
  width: 100%;
  background: url('../img/bg/greyfloral_@2X.png') repeat 0 0;
}

body, h1, h2, h3 {
  font-family: 'Inconsolata', 'Fira Mono', monospace;
  font-weight: 600;
  color: #606060;
}

h1, h2, h3 {
  text-shadow: 1px 1px 1px #ccc;
}

/* this div on base.html takes all subpages within */
.wrapper {
  min-height: 80%;
  height: auto !important;
  margin-top: -2em;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 2em;
}

.contents {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: url('../img/bg/groovepaper.png') repeat 0 0;
  margin-top: 70px;
  margin-bottom: 70px;
}

nav#topnav .nav-item {
  padding-left: 5px;
  padding-right: 5px;
}

nav#topnav .nav-link {
  padding: 0;
}

span.nav-text {
  padding-left: 15px;
}



/****** Login main style ******/

div.error {
  padding-top: 15px;
}



/****** Code system selection page ******/

div#koodisto-painikkeet div {
  padding-left: 25px;
}

div#koodisto-painikkeet button {
  padding-bottom: 2px;
  margin: 5px;
}



/****** Mapper main style ******/

/*** subpage navigation tabs ***/

/* show tabs solidly connected to content */
nav.navbar.navbar-expand-lg.navbar-light {
  padding-bottom: 0px;
  padding-top: 0px;
}

/* shift tabs a bit to seemlessly connect to content */
.nav-tabs .nav-item {
  margin-bottom: -2px;
}

/* make tab bottom border same color as the content */
.nav-tabs {
  border-bottom: 1px #ffffff;
}

/* make non-active tabs appearance similar to active tabs */
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #495057;
  background-color: #eee;
  border-color: #dee2e6 #dee2e6 #eee;
}



/*** original concepts filtering "navigation" ***/

/* make air around filtering buttons */
#filtering-buttons > li,
#route-to-external-buttons > li {
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 4px;
}

/* separate buttons from background with borders */
#filtering-buttons > li > button {
  border: 2px solid #d5d5d5;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

/* make active filter button distinct from non-active buttons */
#filtering-buttons > li > button.active {
  border: 2px solid #707070;
  border-bottom: 4px solid #ff0000;
  box-shadow: 0 5px 15px rgba(255, 0, 0, .4);
  padding-bottom: 1px;
  color: #eeeeee;
  text-shadow: 0 0 3px #000000;
}



/****** Contents ******/

/* novel concepts save buttons */
#save-buttons {
  padding-top: 10px;
}

/* similar concepts table div */
#similars-block, #novel-similars-block {
  padding-top: 5px;
}

/* change table selected and hovered selected row color */
table.dataTable tbody tr.selected > td {
  background-color: #c9c9e6;
}
table.dataTable tbody tr.selected:hover > td {
  background-color: #9fb0d1;
}

/* DataTable rows */
table.dataTable thead th,
table.dataTable thead td {
  font-size: 16px;
}
table.dataTable tbody th,
table.dataTable tbody td {
  padding: 1px 2px;
  font-size: 14px;
}



/****** Novel concept suggestions list ******/

/* colorful reminder box for selected original concept */
div.selected-original-term {
  padding-top: 7px;
  padding-left: 5px;
  padding-bottom: 0px;
  padding-right: 5px;
  background-color: #ffff55;
  border: 3px solid #c0c0c0;
  margin: 15px;
}



/****** IHTSDO Browser ******/

/* external browser */
div#embedded-externals {
  padding-top: 15px;
}

/* force maximum height (SVG forcibly changes page height to 2000px...) */
.ihtsdo-details {
  padding: 0px;
  margin: 0;
  height: 50vh;
  max-height: 600px;
}

/* individual tabs in browser */
.container {
  max-height: 500px;
  overflow-y: hidden;
}

/* make search filter heading a bit smaller */
div#ihtsdo-search-searchBar2 .panel.panel-default .panel-heading h3 {
  font-size: 18px;
}

/* remove extra air around search filters */
.list-group-item {
  padding-top: 1px;
  padding-bottom: 1px;
  border: 0;
}

/* make search results columns equal width */
table.table.table-bordered {
  table-layout: fixed;
}



/****** Progress bars ******/

.progress {
  position: relative;
  margin-top: 10px;
  height: 20px;
  background-color: #bbbbbb;
}

#progress-text,
#progress-text-sample {
  position: absolute;
  text-align: center;
  line-height: 20px; /* line-height should be equal to bar height */
  overflow: hidden;
  right: 0;
  left: 0;
  top: 0;
  padding-left: 5px;
  padding-top: 1px;
  color: #ffffff;
}



/****** Novel concept net graph visualisation ******/
/* NOTE: not yet implemented */

/*#graphdb-viz {
    width: 90%;
    height: 400px;
    font: 9pt arial;
}*/
