<!-- {% import "bootstrap/utils.html" as utils %} -->

{% extends "base.html" %}

{% block title %}Kommentoi konseptia{% endblock %}

{% block sisältö %}
<div class="content-section">
  <div class="contents">
    {% if current_user.is_authenticated %}

      <div class="tab-pane" id="note-tab">
        <h5>Lisää oma kommenttisi konseptille</h5>
        <textarea name="Selite" id="konsepti-kommentti" cols="80" rows="7"></textarea>
        <div class="row" id="save-buttons">
          <div class="selected-original-term"><h5>Olet kommentoimassa organisaatiosi konseptia: {{ info[0][0] }} {{ info[0][1] }} (N={{ info[0][2] }})</h5></div>
          <div class="col-sm-12">
            <button type="button" class="btn btn-success disabled" id="btn-comment">Tallenna kommentti</button>
            <button type="button" class="btn btn-secondary" id="btn-reject-comment">Sulje</button>
          </div>
        </div>
      </div>

    <!-- Fallback if user is not logged in -->
    {% else %}
      <p>Kirjaudu sisään käyttääksesi sivuston toimintoja.</p>
    {% endif %}
  </div>
</div>



<script>

$(document).ready(function () {
  /* activate button when something is typed */
  $('#konsepti-kommentti').on('input', function () {
    $('#btn-comment').removeClass('disabled')
  })






  $('#btn-comment').on('click', function (e) {
    e.preventDefault()

    if (!$('#btn-comment').hasClass('disabled')) {
      var comment = $('#konsepti-kommentti').val() || ''

      $.post('/_commenting', { 'comment': comment }).done(function () {
        $('#btn-comment').html('Tallennetaan ...').addClass('btn-secondary').removeClass('btn-success')
        if (!$('#btn-comment').hasClass('disabled')) {
          $('#btn-comment').addClass('disabled')
        }
        if (!$('#btn-reject-comment').hasClass('disabled')) {
          $('#btn-reject-comment').addClass('disabled')
        }

        window.location.href = '/terms'
      })
    }
  })






  $('#btn-reject-comment').on('click', function (e) {
    e.preventDefault()
    window.location.href = '/terms'
  })
})

</script>

{% endblock %}
